<footer>
    <hr>
    <p>最終更新日時: <time datetime="{% date %}">{% date %}</time></p>
    <a href="{{ "/" | htmlBaseUrl }}">monoxa topページに戻る</a>
    <a href="https://www.eniehack.net/~eniehack">なかやばしのページtopに戻る</a>
</footer>
